<div class="navbar navbar-default navbar-fixed-top corptools-nav">
	<div class="container">
		<div class="navbar-header">
			<a href="./" id="" class="navbar-brand">corporatetools.com<sup>&trade;</sup></a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
		
		{{#if isAdmin}}{{!  admin is signed in  }}
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Switch to <span class="caret"></span></a>
					<ul class="dropdown-menu" aria-labelledby="themes">
						<li>{{#link-to 'manage'}}websites manager{{/link-to}}</li>
						<li>{{#link-to ''}}place manager{{/link-to}}</li>
						<li>{{#link-to ''}}agency manager{{/link-to}}</li>
						<li>{{#link-to ''}}resource manager{{/link-to}}</li>
						<li>{{#link-to ''}}registered agent manager{{/link-to}}</li>
						<li>{{#link-to ''}}product manager{{/link-to}}</li>
						<li>{{#link-to ''}}document manager{{/link-to}}</li>
					</ul>{{/if}}
				</li>
			</ul>
		</div>
	</div>
</div>


<!-- todo: create nav items dynamically
	{{!#each}}
		{{!#if serviceArr}}
			<li>{{!#link-to serviceArr.routeName}}{{!serviceArr.routeLabel}}{{!/link-to}}</li>
		{{!else}}
			<li>{{!serviceArr.routeLabel}}</li>{{!/if}}
	{{!/each}}
-->