@font-face {
	font-family: 'Nevis';
	src: url('/assets/fonts/nevis/nevis.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	padding-top:50px;
	padding-bottom:20px;
	background:#666;
	background: -webkit-linear-gradient(0deg, #a7b1ba 30%, #E6F3FA 100%);
	background:      -o-linear-gradient(0deg, #a7b1ba 30%, #E6F3FA 100%);
	background:     -ms-linear-gradient(0deg, #a7b1ba 30%, #E6F3FA 100%);
	background:    -moz-linear-gradient(0deg, #a7b1ba 30%, #E6F3FA 100%);
	background:         linear-gradient(0deg, #a7b1ba 30%, #E6F3FA 100%);
	background-attachment: fixed;
	font: 1.2em/1.5em "Lucida Grande", Verdana, sans-serif;
	color: #999;
}

.app{
	margin:20px;
}


.corptools-nav{
	background: url(/assets/ui/nav-bg.gif) repeat-x 0 0;
	background-attachment: fixed;
	border-bottom:2px solid #1D2026;
}

.corptools-nav .navbar-brand{
	font-family: 'Nevis';
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	float:left;
	padding:13px 15px;
	font-size:28px;
	height:50px;
	color:#000;
	letter-spacing:1px;
}

.corptools-nav .navbar-nav > li > a{
	color:#3F736F;
}

.corptools-nav .navbar-nav > li > a:hover, .corptools-nav .navbar-brand:hover{
	color:#E5FFE7;
}

.corptools-index{
	width:500px;
	margin:50px auto;
}

.corptools-index .login_register{
	margin-top:-1em;
}

.corptools .page-header{
	margin:20px 0 20px;
	color: #21325C;
	padding-bottom:0px;
	border-bottom:0;
}

.corptools .well{
	border:1px solid #666;
	box-shadow:2px 2px 3px #777;
	color: #21325C;
	border-radius:0px;
	background:#666;
	background: -webkit-linear-gradient(0deg, #ccc 30%, #FCFDFF 100%);
	background:      -o-linear-gradient(0deg, #ccc 30%, #FCFDFF 100%);
	background:     -ms-linear-gradient(0deg, #ccc 30%, #FCFDFF 100%);
	background:    -moz-linear-gradient(0deg, #ccc 30%, #FCFDFF 100%);
	background:         linear-gradient(0deg, #ccc 30%, #FCFDFF 100%);
	background-attachment: fixed;
}

.corptools legend, .corptools label{
	text-shadow: #fff 0 1px 0;
	border-bottom:0px;
}

.corptools .error-message {
	color:#a94442;
	font-size:.9em;
}

.corptools .input-message-accepted {
	color:#3c763d;
}

.corptools .has-success .input-ok{
	display:block;
}

.corptools .input-ok{
	display:none;
}

.corptools .input-ok i{
	font-size:1.5em;
	color:#3c763d;
	margin-left:-12px;
	margin-top:5px;
}

/* bs callout */
.bs-callout-danger {
	background-color: #fdf7f7;
	border-color: #d9534f;
}
.bs-callout {
	margin: 10px 0;
	padding: 10px 0px 1px 10px;
	color:#d9534f;
	border-left:3px solid #d9534f;
	border-right:1px solid #d9534f;
	border-top:1px solid #d9534f;
	border-bottom:1px solid #d9534f;
	border-radius:4px;
}


.corptools .submit-button{
	margin-top:2em;
}

/* custom file input styles */

.corptools .upload-logo{
	overflow-x:scroll;
}

.corptools .upload-container{
	width:400px;
	border:2px solid lightblue;
	overflow-x:scroll;
}

.corptools .btn-file{
	position: relative;
	overflow: hidden;
}

.corptools .btn-file label{
		font-weight:normal;
		margin:0;
}

.corptools .btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.corptools .btn-file-selected{
	font-style:italic;
	color:#999;
	margin-left:10px;
}

.corptools #upload-logo{
	overflow:hidden;
}

.corptools .logo-preview{
	height:100px;
	width:500px;
	border:1px solid #000;
}

.color-picker-btn{
	position:relative;
	left:190px;
	padding:0px;
}

.color-picker-btn button{
	padding:8px;
	background-color:#fff;
	border:1px solid #ccc;
}

.colorpicker-default input{
	width:200px;
	margin-bottom:-34px;
}

/* Modals */

.image-preview-modal{
	overflow:scroll;
}

/* Yellow Blink on Dom Changed

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }

*/

