<div class="row">
	<div class="col-lg-10">
		<div class="well bs-component">
			<fieldset>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-10">
						<button class="btn btn-default">cancel</button>
						<button {{action 'doneEditing'}} class="btn btn-primary">update</button>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

