<div class="modal-header">
	<button type="button" class="close" {{action close target="view"}}>&times;</button>
	<h3>&nbsp;</h3>
</div>
<div class="modal-body">
	<p>{{uploadedImg}}</p>
</div>
<div class="modal-footer">
	<a href="#" class="btn btn-primary" {{action close target="view"}}>Close</a>
</div>