<div class="modal-header">
	<button type="button" class="close" {{action close target="view"}}>&times;</button>
	<h4>image preview</h4>
</div>
<div class="modal-body">
	<div class="image-preview-modal"><a {{bind-attr href=this.uploadedImg}} target="_blank"><img {{bind-attr src=this.uploadedImg}} /></a></div>
	<span class="small">* click to view image in a new window</span>
</div>
<div class="modal-footer">
	<a href="#" class="btn btn-primary" {{action close target="view"}}>Close</a>
</div>