<div class="row">
	<div class="col-lg-10">
		<div class="well bs-component">
			<fieldset>
				<legend>edit billing information</legend>
				<div class="form-group">
					<label for="billing_address" class="col-lg-2 control-label">address</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" value=this.billing_address placeholder=""}}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_suite" class="col-lg-2 control-label">suite</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" value=this.billing_suite placeholder=""}}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_city" class="col-lg-2 control-label">city</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" value=this.billing_city placeholder=""}}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_state" class="col-lg-2 control-label">state</label>
					<div class="col-lg-10">
						{{view Ember.Select value=this.billing_state class="form-control" name="billing_state" content=us_states optionValuePath="content.val" optionLabelPath="content.label" }}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_zipcode" class="col-lg-2 control-label">zipcode</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" value=this.billing_zipcode placeholder="#####-####"}}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_country" class="col-lg-2 control-label">country</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="billing_country" value=this.billing_country placeholder="United States" }}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_email" class="col-lg-2 control-label">email</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" value=this.billing_email placeholder="billing@mycompany.com"}}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_phone" class="col-lg-2 control-label">phone</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" value=this.billing_phone placeholder="555-555-5555"}}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_fax" class="col-lg-2 control-label">fax</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" value=this.billing_fax placeholder="555-555-5555"}}
					</div>
				</div>
				<div class="form-group">
					<label for="billing_net" class="col-lg-2 control-label">net billing</label>
					<div class="col-lg-10">
						{{view Ember.Select value=this.net_billing class="form-control" name="net_billing" content=this.net_billings optionValuePath="content.val" optionLabelPath="content.label" prompt="please select"}}
					</div>
				</div>
				<div class="form-group">
					<label for="checkout_method" class="col-lg-2 control-label">checkout method</label>
					<div class="col-lg-10">
						{{view Ember.Select value=this.checkout_method class="form-control" name="checkout_method" content=this.checkout_methods optionValuePath="content.val" optionLabelPath="content.label" prompt="please select"}}
					</div>
				</div>
				<div class="form-group">
					<label for="renewal_factoring" class="col-lg-2 control-label">renewal factoring</label>
					<div class="col-lg-10">
						{{view Ember.Select value=this.renewal_factoring class="form-control" name="renewal_factoring" content=this.renewal_factorings optionValuePath="content.val" optionLabelPath="content.label" prompt="please select"}}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>