<div class="row">
	<div class="col-lg-10">
		<div class="well bs-component">
			<fieldset>
				<legend>customer support chat</legend>
				<div class="form-group">
					<label for="chat_link" class="col-lg-2 control-label">embed</label>
					<div class="col-lg-10">
						{{textarea class="form-control" value=this.chat_link placeholder="html"}}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>