<div class="row">
	<div class="col-lg-10">
		<div class="well bs-component">
			<fieldset>
				<legend>customize web colors</legend>
				<div class="form-group">
					<label for="color_header" class="col-lg-2 control-label">header color</label>
					<div class="col-lg-10">
						<div data-color="rgb(110, 33, 57)" class="input-append colorpicker-default color">
							{{input value=this.color_header type="text" placeholder="#6e2139" class="form-control"}}
							<span class="input-group-btn add-on color-picker-btn">
								<button class="btn btn-white" type="button"><i style="background-color: rgb(124, 66, 84);"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="text_color" class="col-lg-2 control-label">text color</label>
					<div class="col-lg-10">
						<div data-color="rgb(255, 146, 180)" class="input-append colorpicker-default color">
							{{input value=this.color_text type="text" placeholder="#FF92B4" class="form-control"}}
							<span class="input-group-btn add-on color-picker-btn">
								<button class="btn btn-white" type="button"><i style="background-color: rgb(255, 146, 180);"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="color_link" class="col-lg-2 control-label">link color</label>
					<div class="col-lg-10">
						<div data-color="rgb(255, 146, 180)" class="input-append colorpicker-default color">
							{{input value=this.color_link type="text" placeholder="#FF92B4" class="form-control"}}
							<span class="input-group-btn add-on color-picker-btn">
								<button class="btn btn-white" type="button"><i style="background-color: rgb(255, 146, 180);"></i></button>
							</span>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>