<div class="row">
	<div class="col-lg-10">
		<div class="well bs-component">
			<fieldset>
				<legend>company information</legend>
				<div class="form-group">
					<label for="company_name" class="col-lg-2 control-label">name</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_name" valueBinding="company_name" placeholder="" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_address" class="col-lg-2 control-label">address</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_address" value=this.company_address placeholder="" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_suite" class="col-lg-2 control-label">suite</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_suite" value=this.company_suite placeholder="" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_city" class="col-lg-2 control-label">city</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_city" value=this.company_city placeholder="" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_state" class="col-lg-2 control-label">state</label>
					<div class="col-lg-10">
						{{view Ember.Select value=this.company_state class="form-control" name="company_state" content=us_states optionValuePath="content.val" optionLabelPath="content.label" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_zipcode" class="col-lg-2 control-label">zipcode</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_zipcode" value=this.company_zipcode placeholder="#####-####" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_country" class="col-lg-2 control-label">country</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_country" value=this.company_country placeholder="United States" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_email" class="col-lg-2 control-label">email</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_email" value=this.company_email placeholder="info@mycompany.com" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_phone" class="col-lg-2 control-label">phone</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_phone" value=this.company_phone placeholder="555-555-5555" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_fax" class="col-lg-2 control-label">fax</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_fax" value=this.company_fax placeholder="555-555-5555" }}
					</div>
				</div>
				<div class="form-group">
					<label for="company_www" class="col-lg-2 control-label">website</label>
					<div class="col-lg-10">
						{{input type="text" class="form-control" id="company_www" value=this.company_www placeholder="www.mycompany.com" }}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>