{{nav-bar serviceList=serviceArr}}

<div id="edit-company" class="container">
	<div class="bs-docs-section">
		<div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<div class="page-header">
						<h4 id="forms">edit | <span class="small">{{this.company_name}} | {{this.company_www}}</span></h4>
					</div>
				</div>
			</div>
		</div>

		<form id="edit-billing-form" class="form-horizontal">

		{{ view 'manage/website/company-info' }}

		{{ view 'manage/website/upload-logo' }}

		{{ view 'manage/website/color-picker' }}

		{{ view 'manage/website/chat-link' }}

		{{ view 'manage/website/billing-info' }}

		{{ view 'manage/website/website-products' }}

		{{ view 'manage/website/form-submit' }}

		</form>
	</div><!--end bs-docs-->
</div><!--end container-->

