<div class="row">
	<div class="col-lg-10">
		<div class="well bs-component">
			<fieldset>
				<legend>upload company logo</legend>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-1">
						<span class="upload-logo btn btn-default btn-file">
							<label for="company_logo">{{#if this.company_logo}} change file {{else}} choose file {{/if}}</label>
							<input type="file" id="company_logo">
						</span>
						{{#if this.company_logo}}
							<span class="btn-file-selected"><span class="pull-right"><a {{action 'uploadLogoModal' this.company_logo}} target="_blank" class="img-modal" href="#"><img {{bind-attr src=this.company_logo}} alt="Logo" class="logo-preview"></a></span></span>
						{{else}}
							<span class="btn-file-selected">No file selected</span>
						{{/if}}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>