<div class="row">
	<div class="col-lg-10">
		<div class="well bs-component">
			<form id="edit-billing-form" class="form-horizontal">
				<fieldset>
					<legend>website products</legend>
					<div class="form-group">
					<label for="website_products" class="col-lg-2 control-label">website products</label>
						<div class="col-lg-10">
							<select multiple="multiple" id="website_products" name="website_products[]">
								<option value='elem_1'>elem 1</option>
								<option value='elem_2'>elem 2</option>
								<option value='elem_3'>elem 3</option>
								<option value='elem_4'>elem 4</option>
								<option value='elem_100'>elem 100</option>
							</select>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>