{{#if loggedIn}}
	<p>You are logged in as: [userLoginEmail]</p>
{{else}}

<form class="user_login" {{action login on="submit"}}>

<div id="corptools_index" class="container corptools-index">
	<div class="well bs-component">
		
		<h4>
				login <small>or</small>
				{{#link-to 'register'}}register{{/link-to}}
		</h4>

		{{#if errorMessage}}
			<div class="bs-callout bs-callout-danger">
				<p>{{errorMessage}}</p>
			</div>
		{{/if}}

		<fieldset id="login">
			<div {{bind-attr class=":form-group errors.userLoginEmail.firstObject::has-success"}}>
				<label for="userLoginEmail" class="control-label sr-only">email</label>
				{{#if errors.userLoginEmail}}<div class="input-message">{{errors.userLoginEmail}}</div>
				{{else}}<div class="input-message-accepted">email</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
							{{input type="text" class="form-control" id="userLoginEmail" placeholder="me@email.com" value=userLoginEmail}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.userLoginPass.firstObject::has-success"}}>
				<label for="userLoginPass" class="control-label sr-only">password</label>
				{{#if errors.userLoginPass}}<div class="input-message">{{errors.userLoginPass}}</div>
				{{else}}<div class="input-message-accepted">password</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="password" class="form-control" id="userLoginPass" placeholder="password" value=userLoginPass}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div id="login_options" class="form-group">
				<sup class="small">
					<a href="forgot_password">password recovery</a>
				</sup>
				<!--input type="checkbox" value="user_remember_me">
				<small>keep me logged in</small-->
				<div class="clearfix"></div>
				<div class="form-group pull-right">
					<button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}>login</button>
				</div>
			</div>
			<div class="clearfix"></div>

		</fieldset>
	</div>
</div>

</form>

{{/if}}