{{nav-bar serviceList=none}}

<form class="register" {{action register on="submit"}}>

<div id="corptools_index" class="container corptools-index">
	<div class="well bs-component">
		
		{{#if errorMessage}}
			<div class="bs-callout bs-callout-danger">
				<p>{{errorMessage}}</p>
			</div>
		{{/if}}
		
		<h4>
				{{#link-to 'index'}}login{{/link-to}}
				<small>or</small> register
		</h4>

		<fieldset id="sign_in_register" class="sign_in_register">

			<div class="clearfix"></div>

			<div {{bind-attr class=":form-group errors.userRegisterEmail.firstObject::has-success"}}>
				<label for="userRegisterEmail" class="control-label sr-only">email</label>
				{{#if errors.userRegisterEmail}}<div class="input-message">{{errors.userRegisterEmail}}</div>
				{{else}}<div class="input-message-accepted">email</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
							{{input type="text" class="form-control" id="userRegisterEmail" placeholder="me@email.com" value=userRegisterEmail}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.userRegisterPass.firstObject::has-success"}}>
				<label for="userRegisterPass" class="control-label sr-only">password</label>
				{{#if errors.userRegisterPass}}<div class="input-message">{{errors.userRegisterPass}}</div>
				{{else}}<div class="input-message-accepted">password</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="password" class="form-control" id="userRegisterPass" placeholder="password" value=userRegisterPass}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.userRegisterPassConfirm.firstObject::has-success"}}>
				<label for="userRegisterPassConfirm" class="control-label sr-only">confirm password</label>
				{{#if errors.userRegisterPassConfirm}}<div class="input-message">{{errors.userRegisterPassConfirm}}</div>
				{{else}}<div class="input-message-accepted">confirm password</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="password" class="form-control" id="userRegisterPassConfirm" value=userRegisterPassConfirm}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>					

			<div {{bind-attr class=":form-group errors.userRegisterFullName.firstObject::has-success"}}>
				<label for="userRegisterFullName" class="control-label sr-only">full name</label>
				{{#if errors.userRegisterFullName}}<div class="input-message">{{errors.userRegisterFullName}}</div>
				{{else}}<div class="input-message-accepted">full name</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="text" class="form-control" id="userRegisterFullName" value=userRegisterFullName}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.userRegisterAddress.firstObject::has-success"}}>
				<label for="userRegisterAddress" class="control-label sr-only">address</label>
				{{#if errors.userRegisterAddress}}<div class="input-message">{{errors.userRegisterAddress}}</div>
				{{else}}<div class="input-message-accepted">address</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="text" class="form-control" id="userRegisterAddress" value=userRegisterAddress}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.userRegisterCity.firstObject::has-success"}}>
				<label for="userRegisterCity" class="control-label sr-only">city/region</label>
				{{#if errors.userRegisterCity}}<div class="input-message">{{errors.userRegisterCity}}</div>
				{{else}}<div class="input-message-accepted">city/region</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="text" class="form-control" id="userRegisterCity" value=userRegisterCity}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.userRegisterState.firstObject::has-success"}}>
				<label for="userRegisterState" class="control-label sr-only">state/province</label>
				{{#if errors.userRegisterState}}<div class="input-message">{{errors.userRegisterState}}</div>
				{{else}}<div class="input-message-accepted">state/province</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="text" class="form-control" id="userRegisterState" value=userRegisterState}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.userRegisterCountry.firstObject::has-success"}}>
				<label for="userRegisterCountry" class="control-label sr-only">country/territory</label>
				{{#if errors.userRegisterCountry}}<div class="input-message">{{errors.userRegisterCountry}}</div>
				{{else}}<div class="input-message-accepted">country/territory</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="text" class="form-control" id="userRegisterCountry" value=userRegisterCountry}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div {{bind-attr class=":form-group errors.userRegisterZip.firstObject::has-success"}}>
				<label for="userRegisterZip" class="control-label sr-only">zip/postcode</label>
				{{#if errors.userRegisterZip}}<div class="input-message">{{errors.userRegisterZip}}</div>
				{{else}}<div class="input-message-accepted">zip/postcode</div>{{/if}}
				<div class="row">
					<div class="col-xs-11">
						{{input type="text" class="form-control" id="userRegisterZip" value=userRegisterZip}}
					</div><div class="col-xs-1 input-ok"><i class="fa fa-check"></i></div>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="form-group pull-right submit-button">
					<button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}>register</button>
			</div>
			
		</fieldset>
	</div>
</div>